.sidebarNav ul li a.nav-link:hover {
    background-color: #95c282;
    border-radius: 100px;
}

.nav-link:hover {
    background-color: #95c282;
    border-radius: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sidebar {
    height: 70%;
}

.lg-btn {
    background-color: #95c282;
}

.lg-btn:hover {
    background-color: #bbe1aa;   
}

.active-page {
    display: "";
}

.inactive-page {
    display: none;
}

.login-btn {
    background-color: #bbe1aa;
    color: black;
    font-weight: bold;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.active-link {
    background-color:#bbe1aa;
    font-weight:bold
}

.inactive-link {
    color:#000!important;
    font-weight:bold;
    border-left-color: white;
}

.thead-sea-green th {
    background-color:#bbe1aa
}

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}






@media only screen and (min-width: 760px) {
    .sidebar{
         height: 100vh; 
    }

    .main-content{
        height: 100vh;
    }

    .table-graph {
        height: 48vh;
        width: 45vw;
    }

    /* .low-stock {
        height: 50vh;
        width: 21vw;
    } */

    /* .small-box {
        height: 20vh;
        width: 20vh;
    } */ 
}

@media only screen and (min-width: 480px){
    /* .table-graph {
        height: 40vh;
        width: 40vh;
    }  */
}